{
    "plugins": [
        ["@babel/plugin-transform-react-jsx", { "pragma": "preact.h" }],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}
