{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-rational-order"
    ],
    "rules": {
        "color-hex-length": "long",
        "value-keyword-case": [
            "lower",
            {
                "camelCaseSvgKeywords": true
            }
        ],
        "value-no-vendor-prefix": null,
        "property-no-vendor-prefix": null
    }
}