.aside-panel {
    position: fixed;
    right: 0;
    bottom: 64px;
    background: var(--semi-black-color);
    border-radius: 0.5rem 0 0 0.5rem;

    transform: translateX(100%);
    animation: slideInRight var(--animation-duration) ease 1s forwards;
}

.on-screen-button + .aside-panel {
    bottom: 100px;
}

.aside-button {
    display: block;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside-button > svg {
    height: 30px;
    width: 30px;
    margin: auto;
    fill: currentColor;
}

.aside-button:hover > svg {
    filter: drop-shadow(0 0 4px var(--theme-color));
}

.syncmode-button {
    border-top-left-radius: 0.5rem;
    border-bottom: 1px solid var(--white);
}

.syncmode-button.highlight {
    color: var(--black);
    background: var(--theme-color);
}
.text-white .syncmode-button.highlight {
    color: var(--white);
}

.syncmode-button.highlight .lock-open {
    visibility: hidden;
}
.syncmode-button.select .lock-close {
    visibility: hidden;
}
