.app-main {
    display: flex;
    padding-top: 60px;
    padding-bottom: 32px;
    min-height: 100vh;
    width: 80%;
    margin: auto;
}

@media (max-width: 1280px) {
    .app-main {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .app-main {
        width: 100%;
    }
}
