.gist {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.new-token,
.get-gist-id {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-token-tip,
.create-new-gist {
    flex: 1 0 auto;
    padding: 1rem;
    margin: 1rem;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.new-token-tip-text {
    font-size: 1.2rem;
    margin: 1rem;
    text-align: center;
    max-width: 500px;
}

.github-svg {
    height: 100px;
    width: 100px;
    margin: 1rem;
}

.new-token-input,
.gist-id-input {
    flex: 1 0 auto;

    background: 0;
    border: 0;
    margin: 0 0.5rem;
    border-bottom: 1px solid var(--theme-color);
}

.new-token-form,
.gist-id-form {
    flex: 1 0 auto;
    padding: 1rem 0;
    margin: 1rem 0;
    max-width: 500px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.file-list {
    height: 100%;
    width: 100%;
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.file-item {
    color: var(--black);
    background: rgba(255, 255, 255, 0.9);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    user-select: none;
    transition: box-shadow 250ms ease-in-out;
}

.file-item:hover {
    box-shadow: 0 0 1rem var(--theme-color);
}

.file-content {
    height: 15rem;
    white-space: pre;
    overflow: hidden;
    line-height: 1.6;
}

.file-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.file-title {
    padding: 0.5rem;
}

.file-action {
    flex: 0 0 auto;
}

.file-load {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 32px;
    height: 32px;
    transition: color 250ms ease-in-out;
}

.file-load > svg {
    pointer-events: none;
}

.file-load:hover {
    color: var(--theme-color);
}
