.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    background: var(--semi-black-color);
    color: var(--theme-color);
    z-index: 233;
    user-select: none;
    box-shadow: 0 1px 1px var(--theme-color);

    animation: slideInDown var(--animation-duration) ease-in-out forwards;
}

@media screen and (max-width: 768px) {
    .app-header {
        padding: 0 4px;
    }
}

.app-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.app-title-text {
    display: none;
}
.app-title-svg {
    display: inline-flex;
}

@media screen and (min-width: 768px) {
    .app-title-text {
        display: inline-flex;
    }
    .app-title-svg {
        display: none;
    }
}

.app-header a {
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    min-height: 60px;
    min-width: 60px;
    transition: color var(--transition-duration) ease-in-out;
    padding: 0;
}

.app-nav > a:target {
    color: currentColor;
}

.app-nav:hover .app-tab {
    color: white;
}

.app-nav .app-tab:hover {
    color: currentColor;
}

.app-tab {
    position: relative;
}

.app-tab::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: center 0;
    transition: transform var(--transition-duration) ease-in-out;
}

.app-tab::before,
:hover > .app-tab:target::before {
    transform: scaleY(0);
}

.app-tab:target::before,
.app-tab:hover::before,
.app-tab:hover:target::before {
    transform: scaleY(1);
}

.app-title-svg > svg,
.app-tab > svg {
    margin: 0;
    height: 30px;
    width: 30px;
}

.app-tab {
    transform: translateY(-100%);
    animation-name: slideInDown;
    animation-duration: var(--animation-durationx2);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.app-tab:nth-child(1) {
    animation-delay: 100ms;
}

.app-tab:nth-child(2) {
    animation-delay: 200ms;
}

.app-tab:nth-child(3) {
    animation-delay: 300ms;
}

.app-tab:nth-child(4) {
    animation-delay: 400ms;
}
