.preferences {
    width: 100%;
    user-select: none;
}

.preferences > ul {
    max-width: 1024px;
    margin: auto;
}

.preferences li {
    width: 100%;
    padding: 0 0.5rem;
}

.preferences li:nth-child(even) {
    background-color: #ddd;
}

.list-item {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    margin: auto;
    min-height: 3.5rem;
    align-items: center;
}

.label-switch {
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 58px;
}
.label-switch input[type="checkbox"] {
    display: none;
}
.label-switch input[type="checkbox"] + .checkbox {
    background: var(--white);
    border: 1px solid var(--theme-color);
    border-radius: 20px;
    cursor: pointer;
    height: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.3s ease;
    width: 58px;
    z-index: 0;
}
.label-switch input[type="checkbox"] + .checkbox::before {
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 20px;
    content: "";
    height: 16px;
    transform: scale(1);
    transition: all 0.3s ease;
    width: 54px;
    z-index: 1;
}
.label-switch input[type="checkbox"] + .checkbox::after {
    position: absolute;
    top: -2px;
    left: -2px;
    height: 24px;
    width: 24px;
    background: var(--white);
    border-radius: 50%;
    box-shadow: 0 0 6px var(--black);
    content: "";
    transition: all 0.3s ease;
    z-index: 2;

    filter: brightness(120%);
}
.label-switch input[type="checkbox"]:checked + .checkbox {
    background: var(--theme-color);
}
.label-switch input[type="checkbox"]:checked + .checkbox::before {
    transform: scale(0);
}
.label-switch input[type="checkbox"]:checked + .checkbox::after {
    background: var(--theme-color);
    left: 36px;
}

.color-picker {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 2px;
    border-radius: 4px;
    line-height: normal;
}

.color-picker.checked::before {
    content: "\2714\FE0F";
    width: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
}
