html, body {
    height: 100%;
    background-color: rgba(245, 245, 245, 0.81);
}

button {
    outline: none;
}

shortcuts {
    outline: none;
}

.app-body, .react-root, .app-root, .app-main {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.react-root, .app-root, .app-main, .app-main-content {
    flex: 1 0 auto;
}

.app-main {
    padding: 1rem 0;
}

.app-editor {
    display: flex;
    flex-direction: column;
}

.app-textarea {
    flex: 1 0 auto;
    padding: .5rem;
    resize: none;
    border-radius: .25rem;
    outline: none;
    border: 1px solid deepskyblue;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    transition: box-shadow 500ms ease-in-out;

}

.app-textarea:hover, .app-textarea:focus {
    box-shadow: 0 0px 10px rgba(0, 191, 255, 0.8)
}

.app-root {
    display: flex;
    flex-direction: column;
    padding-top: 68px;
    padding-bottom: 100px;
    min-height: 70%;
}

.app-header, .app-footer {
    position: fixed;
    flex: none;
    width: 100%;
}

.app-header {
    top: 0;
    background: rgba(255, 255, 255, .85);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem 0;
    border-bottom: 1px solid hotpink;
    transition: box-shadow 500ms ease;
    z-index: 5;
}

.app-header:hover {
    box-shadow: 0 1px 10px rgba(255, 105, 180, 0.5);
}

.app-footer {
    bottom: 0;
}

.wrapper {
    max-width: 1024px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vw;
}

@media screen and (max-width: 1024px ) {
    .app-main.wrapper {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

}

.wrapper:after, .footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both
}

.app-audio {
    width: 100%;
}

.app-header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-menu-button {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border 500ms ease-in-out, box-shadow 500ms ease-in-out;
}

.app-menu-button:hover {
    border: 1px solid hotpink;
    box-shadow: 0 1px 10px rgba(255, 105, 180, 0.5)
}

.app-title {
    font-size: 1.6rem;
    color: hotpink;
    background-image: -webkit-linear-gradient(45deg, hotpink, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.tool-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool-bar-button {
    color: dimgray;
    cursor: default;
    text-decoration: none;
    padding: .5rem;
    flex: 1 1 auto;
    border: 1px solid deepskyblue;
    border-radius: .25rem;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 500ms ease;
    text-align: center;
    margin: 1rem;
}

.tool-bar-button:first-child {
    margin-left: 0;
}

.tool-bar-button:last-child {
    margin-right: 0;
}

.tool-bar-button:hover, .tool-bar-button:focus {
    color: hotpink;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.51);
}

.app-creator .tool-bar-button {
    width: 20rem;
    flex: 1 1 auto;
}

.lyric-list {
    text-align: center;
    padding: 0;
}

.lyric-list.showtimestamp {
    text-align: left;
}

.lyric {
    color: #7d7d7d;
    display: block;
    font-size: 1rem;
    border-bottom: 2px solid transparent;
    height: 2rem;
}

.timed {
    color: black;
}

.highlight {
    color: hotpink;
}

.select {
    border-bottom: 2px solid hotpink;
}

.error {
    background-color: rgba(255, 0, 0, 0.5);
}

.error.highlight {
    color: white;
}

label {
    -webkit-user-select: none;
    user-select: none;
}

.showtimestamp .select::before {
    color: hotpink;
    content: attr(data-elapsedtime) '->';
    position: absolute;
    transform: translate(-6rem, 0);
    display: block;
}

.app-drag-and-drop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-drag-and-drop-tip, .app-drag-and-drop-icon {
    max-width: 50%;
}

.foot-bar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.51);
    -webkit-backdrop-filter: blur(5px);
}

.app-aside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    height: 100%;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    transform: translateX(30vw);
    transition: all 0.5s ease;
    z-index: 20;
    margin: 0;
    padding: 0;
}

.app-aside ul {
    padding: 0;
    margin: 0;
}

.app-aside-li {
    list-style: none;
    color: black;
    text-align: center;
}

.app-aside-button {
    font-weight: bold;
    text-decoration: none;
    background: 0;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    border: 0;
    background: transparent;
    color: #383838;
    width: 100%;
    transition: all 0.25s ease;
    padding: 1rem 0;

}

.app-aside-button:focus {
    outline: auto;
}

.app-aside-button:hover {
    color: hotpink;
    background-color: white;
}

.app-aside.is-visible {
    transform: translateX(0);
}

.mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    z-index: 10;
}

.mask.is-visible {
    opacity: 0.4;
    visibility: visible;
}

.app-aside-button {

}

.upLoadFile {
    display: none;
}

.help-and-about-box {
    display: none;
    z-index: 30;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    top: 10vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    position: fixed;
    border-radius: .5rem;
    padding: 1rem;
}

.help-and-about-box.is-visible {
    display: block;
}

.help-and-about-box a {
    color: black;
    text-decoration: none;
}

.help-and-about-box a {
    color: hotpink;
}

.modal .modal-inner {
    border-radius: 3px;
    margin: .5rem;
    max-height: 100%;
    overflow: auto;
    position: relative;
    transition: opacity 0.25s ease;
    width: 100%;
}

.modal .modal-inner h1 {
    color: #333;
    text-align: left;
    text-transform: capitalize;
}

.modal .modal-inner p {
    color: #333;
    line-height: 1.5em;
}

.modal-open {
    overflow: hidden;
}

.sync-lyric {
    display: none;
    position: fixed;
    bottom: 10vmin;
    right: 10vmin;
    height: 5rem;
    width: 5rem;
    z-index: 5;
    border: 10px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 1rem;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    background-color: hotpink;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 2rem, rgba(0, 0, 0, 0.3) 0 3px 2rem;

}

.sync-lyric.is-visible {
    display: inline-block;
}

.helper-img {
  max-width: 100%;
}
