@charset "utf-8";

@import "./normalize.css";
@import "./variables.css";
@import "./components/app.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/content.css";
@import "./components/home.css";
@import "./components/editor.css";
@import "./components/synchronizer.css";
@import "./components/asidepanel.css";
@import "./components/audio.css";
@import "./components/loadaudio.css";
@import "../node_modules/toggle-switch-css/src/toggle-switch.css";
@import "./components/preferences.css";
@import "./components/gist.css";
@import "./components/toast.css";
@import "./animation.css";
