:root {
    --white: #eee;
    --black: #111;

    --theme-color: #f58ea8;
    --background-color: #f1f3f4;

    --semi-black-color: rgba(40, 40, 40, 0.85);

    --border-radius: 0.4rem;

    --text-shadow: 0 0 2px var(--black);

    --drop-shadow: drop-shadow(0 0 4px currentcolor);

    --animation-out-back: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
