@import "var";

.editor {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

input[type=file] {
  display: none;
}

.editor-tool-bar, .lrc-info-section {
  display: flex;
  margin-bottom: .5rem;
  padding: .5rem 0;
  width: 100%;
}

.lrc-info-section {
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.editor-button {
  cursor: default;
  flex: 1 1 auto;
  border: 0;
  transition: all 500ms ease;
  text-align: center;
  display: flex;
  align-items: center;
  padding: .5rem 1.2rem;
  border-radius: .2rem;
  font-size: 1.4rem;

  svg {
    margin: 0 1rem;
    @media screen and (max-width: 414px) {
      margin: auto;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    padding: .25rem .6rem;
  }

}

.editor-button:first-child {
  margin-left: 0;
}

.editor-button:last-child {
  margin-right: 0;
}

.editor-button:hover, .editor-button:focus {
  color: $second-color;
  background-color: $alpha-white;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.51);
}

.lrc-info-input-section {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  &:first-child {
    margin-left: 0;
  }

  @media screen and (max-width: 768px) {
    margin: 5px 0 !important;
    & > span {
      width: 5rem;
    }
  }

  input {
    padding: 4px;
    flex: 1 1 auto;
    width: 0;
    margin-left: .5rem;
    border-radius: .25rem;
    border: 1px solid $theme-color;
    transition: box-shadow 500ms ease-in-out;
    &:hover, &:focus {
      box-shadow: 0 0 10px $theme-color;
    }
  }
}

.app-textarea {
  flex: 1 1 auto;
  padding: .5rem;
  resize: none;
  border-radius: .25rem;
  border: 1px solid $theme-color;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: box-shadow 500ms ease-in-out;

  &:hover, &:focus {
    box-shadow: 0 0 10px $theme-color;
  }
}

