@import "var";

.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(40, 40, 40, 0.85);
  border-bottom: 1px solid $theme-color;

  color: white;
  z-index: 233;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .app-title {
    font-size: 1.5rem;
  }

  .app-nav {
    a {
      border: solid 2px transparent;
      border-radius: 2px;
      color: white;
      padding: 0.5rem;
      display: inline-flex;
      align-items: center;

      svg {
        margin: 0 4px;
      }

      &.active {
        border-bottom-color: $second-color;
      }
    }

    &:hover a {
      border-bottom-color: transparent;

      &:hover {
        border-bottom-color: $second-color;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;
  }
}

.showtip::before {
  position: absolute;
  left: 0;
  content: "";
  border: solid;
  border-color: rgba(40, 40, 40, 0.85) transparent;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  top: calc(100% - 0.5rem);
  left: inherit;
  z-index: 233;
  transform: translate3d(1rem, 1rem, 0);
}

.showtip::after {
  position: absolute;
  left: 0;
  content: attr(title);
  background: rgba(40, 40, 40, 0.85);
  padding: 0.5rem;
  top: 100%;
  left: inherit;
  z-index: 233;
  transform: translateY(1rem);
}

@media all and (-ms-high-contrast: none) {
  .showtip::before,
  .showtip::after {
    display: none;
  }
}
