.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  -webkit-user-select: none;
  user-select: none;

  header {
    font-size: 3rem;
    color: gray;
  }

  header, p {
    opacity: 0.5;
    transition: opacity 0.5s ease;
    margin: 1rem 0;
    cursor: default;
    animation: not_found 10s ease-in-out infinite;
  }

}

@keyframes not_found {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}