@import "var";

.preferences {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media screen and (max-width: 768px) {
        padding: 0;
    }

    section {
        padding: 1rem;
    }

    section:nth-child(2n + 1) {
        background-color: $alpha-white;
    }

    .section-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 768px;
        margin: auto;
        word-break: break-all;

        a,
        a:visited {
            color: $second-color;
        }
    }

    .label-switch {
        $switch-width: 60px;
        $switch-padding: -4px;
        $switch-height: 24px;
        $switch-radius: $switch-height;
        $knob-size: $switch-height - ($switch-padding * 2);
        $knob-radius: $switch-height - ($switch-padding * 2);

        border-radius: $switch-radius;
        cursor: pointer;
        display: inline-block;
        height: $switch-height;
        position: relative;
        width: $switch-width;
        input[type="checkbox"] {
            display: none;
            & + .checkbox {
                background: #e8e8e8;
                border: 0;
                border-radius: $switch-radius;
                cursor: pointer;
                height: $switch-height;
                margin: 0;
                padding: 0;
                position: relative;
                transition: all 0.3s ease;
                width: $switch-width;
                z-index: 0;
                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: white;
                    border-radius: $switch-radius;
                    content: "";
                    transform: scale(1);
                    transition: all 0.3s ease;
                    z-index: 1;
                }

                &::after {
                    position: absolute;
                    top: $switch-padding;
                    right: $switch-padding;
                    bottom: $switch-padding;
                    left: $switch-padding;
                    height: $knob-size;
                    width: $knob-size;
                    background: white;
                    border-radius: $knob-radius;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
                    content: "";
                    transition: all 0.3s ease;
                    z-index: 2;
                }
            }

            &:checked + .checkbox {
                background: $second-color;
                &::before {
                    transform: scale(0);
                }

                &::after {
                    left: $switch-width - $knob-size - ($switch-padding);
                }
            }
        }
    }

    .stepper {
        display: flex;
        height: 24px;

        input {
            width: 30px;
            text-align: center;
            border: 1px solid #d7dbdd;
            // padding: 0 10px;
            border-radius: 0;
            box-shadow: none;
            pointer-events: none;
        }

        button {
            cursor: pointer;
            width: 30px;
            // padding: 5px 15px;
            color: #ffffff;
            background-color: $second-color;
            font-size: 12px;
            border: 1px solid $theme-color;
            border-radius: 4px;
        }

        .addOnLeft {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .addOnRight {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    input[type="number"] {
        color: inherit;
        width: 4rem;
        height: 30px;
        text-align: right;
        background: 0;
        border: 0;
        border-bottom: 1px solid $theme-color;
    }

    .lang-select > select {
        // direction: rtl;
        padding-right: 1rem;
        color: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        outline: 0;

        &::-ms-expand {
            display: none;
        }
    }

    .lang-select {
        position: relative;
    }
    .lang-select::after {
        position: absolute;
        right: 0;
        color: $second-color;
        content: "\25BC";
        z-index: 1;
        pointer-events: none;
    }

    .select-all {
        -webkit-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }
}
