name: Build

on:
    push:
        branches:
            - "*"
    pull_request:
        types: ["opened", "reopened", "synchronize"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"

            - name: Install dependencies
              uses: pnpm/action-setup@v4
              with:
                  run_install: |
                      - args: [--frozen-lockfile, --strict-peer-dependencies]

            - run: pnpm run "/check\:/"
            - run: pnpm run build
